<%= render "shared/header" %>
<% breadcrumb :favorite_list,@user %>
<p class="favorite-list-title">
  <%="#{current_user.nickname}さんのお気に入り一覧(登録数:#{current_user.favorites.count})"%>
</p>
<div class="following-detail">
  <%= link_to "#{@user.nickname}さんの投稿一覧", user_path(@user.id), class: "following-nickname" %>
</div>
<ul class='plan-lists'>
    <% if @favorite_list.present? %>
      <% @favorite_list.each do |plan|%>
      <li class='list'>
        
        <div class='item-img-content'>
        <%if plan.images.attached?%>
        <% plan.images.each do |image|%>
          <%= image_tag image,class: "plan-img" %>
        <%end%>
        <% else %>
          <%= image_tag "camera-logo.png",class:"plan-img"%>
        <% end %>      
        </div>
        <%= link_to plan_path(plan) do %>
        <div class='plan-info'>
          <div class='plan-name'>
            <%= plan.name %>
          </div>
          <div class='plan-price'>
            <span>予算：<%= plan.budget.name %><br>時間：<%= plan.expected_time.name %></span>
            <div class='star-btn'>
              <%= image_tag "star5.png", class:"star-icon" %>
              <span class='star-count'><%= plan.likes.count %></span><span class="count-click"><%=plan.user.nickname%></span>
            </div>

          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    
    <% else %>
    
    <li class='list'>
      <%= link_to '#' do %>
      <%= image_tag "shining-star.jpg", class: "item-img" %>
      <div class='plan-info'>
        <h3 class='plan-name'>
          まだお気に入り登録されていません。計画を探して登録してみましょう！
        </h3>
        <div class='plan-price'>
          <span>予算1000円以下<br>(例)ジョギング</span>
          <div class='star-btn'>
            <%= image_tag "star5.png", class:"star-icon" %>
            <span class='star-count'>0</span>
          </div>
        </div>
      </div>
      <% end %>
    </li>
  
    <% end %>
  </ul>