<%# ユーザー詳細ページ %>
<%= render "shared/header" %>

<%if current_user.id == @user.id%>
<%# パンくずリスト %>
<% breadcrumb :my_page,@user %>
<%# パンくずリスト %>
<%else%>
<%# パンくずリスト %>
<% breadcrumb :user_page,@user %>
<%# パンくずリスト %>
<%end%>

<div class="contents row">
  <p class="current-user-name"><%= @user.nickname %>さんの計画一覧</p>
  <%= render "relationships/follow_button", locals:{ user: @user} %>
  <%if current_user.id == @user.id%>
  <%= link_to "#{@user.nickname}さんのユーザー情報を編集する",edit_user_path(@user.id),class:"current-user-edit" %>
  <% end %>
  <% @plans.each do |plan| %>
    <div class="content_post">
      <span class="name">計画名：<%=link_to plan.name,plan_path(plan.id) %></span>
      <ul class="current-user-image-box">
      <%if plan.images.attached?%>
      <% plan.images.each do |image| %>
      <li>
      <%= image_tag image, class:"current-user-image" %>
      </li>
      <%end%>
      <%else%>
      <%= image_tag "camera-logo.png",class:"current-user-image"%>
      <% end %>
      </ul>
      <div class='box-description'>
      <%= link_to plan_path(plan.id) do %>
      <div><%= image_tag "star5.png", class:"star-icon" %>
      <span class='star-count'><%= plan.likes.count %></span>
      <%=image_tag "bookmark.png",width:"20",height:"20" %>
      <span class='star-count'><%=plan.favorites.count%></span>
      </div>
      <p class="contents-detail description">詳細：<%= plan.description %></p>
      <p class="contents-detail genre">ジャンル：<%= plan.genre.name %></P>
      <p class="contents-detail location">場所：<%= plan.location.name%></P>
      <%end%>
      </div>
    </div>
  <% end %>
</div>