<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    一人の時間を、自分時間を充実させよう！
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
    <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='entertain-yourself-details'>
      <h2 class='footer-content-head'>ABOUT ENTERTAIN YOURSELF</h2>
      <ul>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'ENTERTAIN YOURSELF利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='entertain-yourself-details'>
      <h2 class='footer-content-head'>ENTERTAIN YOURSELFを見る</h2>
      <ul>
        <li><%= link_to 'ジャンル一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='entertain-yourself-details'>
      <h2 class='footer-content-head'>ENTERTAIN YOURSELFについて</h2>
      <ul>
        <li><%= link_to 'ENTERTAIN YORSELFガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'ENTERTAIN YORSELFロゴ利用ガイドライン', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("entertain-yourself-logo.png", class:"logo-white"), "#" %>
  <p>© ENTERTAIN YOURSELF</p>
</div>