<header class='top-page-header'>
  <div class='search-bar-contents'>

  <div class="icon-image">
    <%= link_to image_tag('entertain-yourself-logo.png', class:"entertain-yourself-icon"), "/" %>
  </div>
  <div class="search-box">
    <div class="input-box">
    <%= search_form_for @q, url: search_plans_path,class:"search-form" do |f|%>
      <%=f.search_field :description_or_name_cont ,placeholder:"キーワードから探す",class:"input-box"%>
    </div>
    <div class="search-bars">
      <%=f.collection_select :genre_id_eq,Genre.where.not(id: 0),:id,:name,include_blank:'ジャンル',class:"search-bar"%>
      <%=f.collection_select :budget_id_eq,Budget.where.not(id: 0),:id,:name,include_blank:'予算',class:"search-bar"%>
      <%=f.collection_select :location_id_eq,Location.where.not(id: 0),:id,:name,include_blank:'場所',class:"search-bar"%>
      <%=f.collection_select :expected_time_id_eq,ExpectedTime.where.not(id: 0),:id,:name,include_blank:'目安時間',class:"search-bar"%>
    </div>
    <button class="search-button">
      <%# <%= image_submit_tag("search.png", class: 'search-icon')%>
      <%=f.submit "この条件で検索する",class: 'search-icon' %>
    </button>
    <%end%>
  </div>
  </div>
  
  <div class='nav'>
    <%# <ul class='lists-left'>
 
    </ul> %>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>

        <li class="follow-count">(フォロー中：<%=link_to "#{current_user.followings.count}",followings_user_path(current_user.id),class:"follow-count-link"%> フォロワー：<%=link_to "#{current_user.followers.count}",followers_user_path(current_user.id),class:"follow-count-link"%> )
        </li>

        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else%>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>