<% if current_user.already_liked?(plan) %>
  <%= link_to plan_like_path(plan.id,current_user.id),class:"favorite-star-icon",method: :delete do%>
  <%=image_tag"good.png" ,width:"20",height:"20" %>
  <span>Good!<%= plan.likes.count %></span>
  <%end%>
<% else %>
  <%= link_to plan_likes_path(plan.id),class:"favorite-star-icon",method: :post do %>
  <%=image_tag "good.png" ,width:"20",height:"20" %>
  <span>Good!<%= plan.likes.count %></span>
  <%end%>
<% end %>