<%# トップページ %>
<%= render "shared/header" %>
  <%# 計画一覧 %>
<p class="plan-index">新規提案一覧</p>
<div class='plan-contents'>
<%# パンくずリスト %>
<% breadcrumb :root %>
<%# パンくずリスト %>
  <div class='index_title'>
    <span>充</span>
    <span>実</span>
    <span>の</span>
    <span>一</span>
    <span>人</span>
    <span>時</span>
    <span>間</span>
    <span>を</span>
    <span>提</span>
    <span>案</span>
  </div>
  <div class="subtitle" >
    “Make each day your masterpiece.” 
  </div>
  <ul class='plan-lists'>
    <% if @plans.present? %>
      <% @plans.each do |plan|%>
      <li class='list'>
        
        <div class='item-img-content'>
        <%if plan.images.attached?%>
        <% plan.images.each do |image|%>
          <%= image_tag image,class: "plan-img" %>
        <%end%>
        <% else %>
          <%= image_tag"camera-logo.png",class:"plan-img" %>
        <%end%>
        </div>
        <%= link_to plan_path(plan) do %>
        <div class='plan-info'>
          <div class='plan-name'>
            <%= plan.name %>
          </div>
          <div class='plan-price'>
            <span>予算：<%= plan.budget.name %><br>時間：<%= plan.expected_time.name %></span>
            <div class='star-btn'>
              <%= image_tag "star5.png", class:"star-icon" %>
              <span class='star-count'><%= plan.likes.count %></span>
              <%if plan.user == current_user%>
              <span class="count-click-mine" >御自身の投稿です</span>
              <%else%>
              <span class="count-click" ><%=plan.user.nickname%></span>
              <%end%>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    
      <% end %>
      
    <% else %>
    
    <li class='list'>
      <%= link_to '#' do %>
      <%= image_tag "shining-star.jpg", class: "item-img" %>
      <div class='plan-info'>
        <h3 class='plan-name'>
          面白い計画を共有しよう！
        </h3>
        <div class='plan-price'>
          <span>(例)予算1000円以下<br>(例)ジョギング</span>
          <div class='star-btn'>
            <%= image_tag "star5.png", class:"star-icon" %>
            <span class='star-count'>0</span>
          </div>
        </div>
      </div>

      <% end %>
    </li>
    <% end %>
  </ul>
</div>
<div class="ranking-box">
<% @rankings.each.with_index(1) do |ranking, i| %>
<div class="ranking-index">
  <span class="ranking-content">
  いいね数トップ３：
  第<%= i %>位
  </span>
  <span class="ranking-name">
  「<%=link_to ranking.name, plan_path(ranking),class:"ranking-name" %>」
  </span>
  <span class="ranking-nickname">
  [<%= ranking.user.nickname%>]
  </span>
</div>
<% end %>
</div>
<%# 提案ボタン %>
<%= link_to(new_plan_path, class: 'submit-btn') do %>
  <span class='submit-btn-text'>提案する</span>
  <%= image_tag 'plan-submit-logo.png' , size: '185x50' ,class: "submit-btn-icon" %>
<% end %>
<%# 提案ボタン %>
<%# フッター %>
<%= render "shared/footer" %>
<%# フッター %>