<%# 検索結果表示ページ %>
<%= render "shared/header" %>
<%# パンくずリスト %>
<% breadcrumb :plan_search %>
<%# パンくずリスト %>
<%# 検索一覧 %>
<p class="plan-index">検索結果</p>
  <div class='plan-contents'>
  <div class="plan-lists">
    <ul class='plan-lists'>
      <% if @results.present? %>
        <% @results.each do |plan|%>
        <li class='list'>
          <%= link_to plan_path(plan) do %>
          <div class='item-img-content'>
          <%if plan.images.attached?%>
          <% plan.images.each do |image|%>
            <%= image_tag image,class: "plan-img" %>
          <%end%>
          <% else %>
            <%= image_tag "camera-logo.png",class:"plan-img" %>
          <% end %>      
          </div>
          <div class='plan-info'>
            <h3 class='plan-name'>
              <%= plan.name %>
            </h3>
            <div class='plan-price'>
              <span>予算：<%= plan.budget.name %><br>時間：<%= plan.expected_time.name %></span>
              <div class='star-btn'>
                <%= image_tag "star5.png", class:"star-icon" %>
                <span class='star-count'><%= plan.likes.count %></span>
              <%if plan.user == current_user%>
              <span class="count-click-mine">御自身の投稿です</span>
              <%else%>
              <span class="count-click">クリックして詳細へ</span>
              <%end%>
              </div>
            </div>
          </div>
          <% end %>
        </li>
        <% end %>
      
      <% elsif @results.blank? && params[:q] != "" %>

      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "shining-star.jpg", class: "item-img" %>
        <div class='plan-info'>
          <h3 class='plan-name'>
            該当する計画はありませんでした。
          </h3>
          <div class='plan-price'>
            <span><br></span>
            <div class='star-btn'>
              <%= image_tag "star5.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    
      <% end %>
    </ul>
  </div>

  <%= link_to(new_plan_path, class: 'submit-btn') do %>
    <span class='submit-btn-text'>提案する</span>
    <%= image_tag 'plan-submit-logo.png' , size: '185x50' ,class: "submit-btn-icon" %>
  <% end %>
</div>

<%= render "shared/footer" %>