<%= render "shared/header" %>
<div class="plan-show">
  <div class="plan-box">
    <h2 class="name">
      <%= @plan.name %>
    </h2>
    <div class="plan-img-content">
    <% if @plan.images.attached?%>
    <% @plan.images.each do |image| %>
      <%= image_tag image,class:"plan-box-img" %>
    <% end %>
    <% else %>
      <%= image_tag "camera-logo.png",class: "plan-img" %>
    <% end %>
    </div>
    <div class="plan-price-box">
      <span class="plan-price">
        <%= "#{@plan.budget.name}" %>
      </span>
      <span class="plan-postage">
        <%= @plan.expected_time.name %>
      </span>
    </div>


    <% if user_signed_in? %>
    <% if current_user.id == @plan.user_id %>

    <%= link_to "提案を編集", edit_plan_path(@plan.id), method: :get, class: "plan-green-btn" %>
    
    <%= link_to "提案を削除", plan_path(@plan.id), method: :delete, class:"plan-destroy" %>

    <% end %>

    <% end %>

    <div class="plan-explain-box">
      <span>計画詳細：</span>
      <span><%= @plan.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-plan">提案者</th>
          <td class="detail-value"><%= @plan.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-plan">ジャンル</th>
          <td class="detail-value"><%= @plan.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-plan">予算</th>
          <td class="detail-value"><%= @plan.budget.name %></td>
        </tr>
        <tr>
          <th class="detail-plan">場所</th>
          <td class="detail-value"><%= @plan.location.name %></td>
        </tr>
        <tr>
          <th class="detail-plan">目安時間</th>
          <td class="detail-value"><%= @plan.expected_time.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= render partial: 'shared/like', locals: {plan: @plan} %>
      </div>
    </div>
  </div>
   <div class="supplement-box">
    <%=form_with model: [@plan,@supplement] ,url:plan_supplements_path(@plan.id), class:"supplement-form" do |f| %>
    <div class="weight-bold-text">
    提案詳細
      <%=f.text_area :description, class:"supplement-text", id:"supplements-area"%>
    </div>
    <div class="weight-bold-text">
    ジャンル
      <%=f.collection_select(:genre_id,Genre.all,:id,:name,{},{class:"select-box",id:"supplement-area"})%>
    </div>
    <div class="weight-bold-text">
    場所
      <%=f.collection_select(:location_id,Location.all,:id,:name,{},{class:"select-box",id:"supplement-area"})%>
    </div>
      <p class="comment-warn">
        ※相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <%=f.submit "補足提案する",class:"supplement-btn", id:"button"%>
    <% end %>
    <div id='supplements'>
    <% @supplements.reverse_each do |supplement| %>
      <p>『<%= supplement.description %>』</p>
      <p>代替場所：<%= supplement.location.name %></p>
      <p>ジャンル：<%= supplement.genre.name %></p>
      <p>by <%= supplement.user.nickname %></p>
    -------------------------------------------------
    <% end %>
    </div>
  </div>
</div>